In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
df = spark.read.parquet("/Users/kzmain/LSDE/data/foil/feature/2010/1.gz.parquet")

In [3]:
from pyspark.sql.functions import col
f_df = df
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
pd.set_option('display.max_rows', None)

pdf = f_df.filter(col("medallion") == 2010003702).filter(col("hack_license") == 2010000400).limit(5000).toPandas()

In [4]:
pdf

,medallion,hack_license,pick_month,dropoff_longitude,dropoff_latitude,pickup_longitude,pickup_latitude,pickup_datetime,trip_distance,dropoff_datetime,rate_code,tip_amount,total_amount,valid,duration_second,pickup_zone_id,pickup_u,pickup_v,dropoff_zone_id,drop_min,drop_hour,drop_day,drop_month,drop_year,pick_min,pick_year,week_day,season,pick_hour,is_weekend,hour,day,high,low,baro,wind,wd,hum,weather,year,month,predrop_datetime,trip_cruise_second,day_is_sleep_in_day,day_sleep_second,day_start_stamp,day_end_stamp,sleep,day_work_second,day_trip_count,day_mean_travel_second_per_trip,day_mean_cruise_second_per_trip,day_mean_tip_per_trip,day_mean_income_per_trip,month_work_hour,month_income_total,month_income_per_hour,month_work_on_weekend,pick_day
0,2010003702,2010000400,1,-73.9528,40.8241,-73.9719,40.7946,2010-01-22 01:28:49,2.3,2010-01-22 01:35:39,1,1.36,10.46,True,410.0,238,42428714,42428711,116,35,1,22,1,2010,28,2010,6,4,1,True,1,22,3,1,1016,12,0,54,clear,2010,1,2010-01-22 00:29:34,3555,False,0,1264094929,1264105574,0,10645,4,744.500000,2805.500000,0.935000,13.535000,5,164.19,32.838,True,22
1,2010003702,2010000400,1,-73.9315,40.7602,-73.9895,40.7231,2010-01-22 03:15:53,5.7,2010-01-22 03:30:32,1,2.38,18.28,True,879.0,148,1918039896,1918039876,7,30,3,22,1,2010,15,2010,6,4,3,True,3,22,3,1,1016,12,0,54,clear,2010,1,2010-01-22 01:35:39,6014,False,0,1264094929,1264105574,0,10645,4,744.500000,2805.500000,0.935000,13.535000,5,164.19,32.838,True,22
2,2010003702,2010000400,1,-73.9956,40.7540,-73.9767,40.7271,2010-01-22 03:50:11,2.9,2010-01-22 04:03:09,1,0.00,11.10,True,778.0,4,42446562,42446571,68,3,4,22,1,2010,50,2010,6,4,3,True,3,22,3,1,1016,12,0,54,clear,2010,1,2010-01-22 03:30:32,1179,False,0,1264094929,1264105574,0,10645,4,744.500000,2805.500000,0.935000,13.535000,5,164.19,32.838,True,22
3,2010003702,2010000400,1,-73.9450,40.7004,-73.9915,40.7351,2010-01-22 04:11:03,4.4,2010-01-22 04:26:14,1,0.00,14.30,True,911.0,113,42438784,42436935,17,26,4,22,1,2010,11,2010,6,4,4,True,4,22,3,1,1016,12,0,54,clear,2010,1,2010-01-22 04:03:09,474,False,0,1264094929,1264105574,0,10645,4,744.500000,2805.500000,0.935000,13.535000,5,164.19,32.838,True,22
4,2010003702,2010000400,1,-74.0081,40.7140,-73.9909,40.7505,2010-01-21 19:29:24,3.2,2010-01-21 19:45:40,1,1.98,15.18,True,976.0,186,42437654,4461990857,231,45,19,21,1,2010,29,2010,5,4,19,False,19,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 19:28:48,36,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
5,2010003702,2010000400,1,-73.9867,40.7393,-74.0109,40.7091,2010-01-21 19:49:59,2.8,2010-01-21 20:06:39,1,0.00,12.80,True,1000.0,261,42422038,42422042,107,6,20,21,1,2010,49,2010,5,4,19,False,19,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 19:45:40,259,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
6,2010003702,2010000400,1,-73.9671,40.7574,-73.9862,40.7407,2010-01-21 20:11:51,1.8,2010-01-21 20:20:31,1,0.00,8.30,True,520.0,234,4597668029,4597668041,229,20,20,21,1,2010,11,2010,5,4,20,False,20,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 20:06:39,312,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
7,2010003702,2010000400,1,-73.9516,40.7664,-73.9745,40.7566,2010-01-21 20:31:58,1.9,2010-01-21 20:43:07,1,2.50,12.00,True,669.0,161,42438886,596775867,140,43,20,21,1,2010,31,2010,5,4,20,False,20,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 20:20:31,687,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
8,2010003702,2010000400,1,-73.9773,40.7453,-73.9732,40.7596,2010-01-21 20:53:33,1.1,2010-01-21 21:01:30,1,1.00,8.50,True,477.0,161,596775900,42436701,137,1,21,21,1,2010,53,2010,5,4,20,False,20,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 20:43:07,626,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
9,2010003702,2010000400,1,-73.9552,40.7689,-73.9671,40.7528,2010-01-21 21:06:05,1.2,2010-01-21 21:10:04,1,1.57,7.87,True,239.0,233,595105496,5852272391,141,10,21,21,1,2010,6,2010,5,4,21,False,21,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 21:01:30,275,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
10,2010003702,2010000400,1,-73.9842,40.7700,-73.9669,40.7640,2010-01-21 21:15:27,1.0,2010-01-21 21:20:41,1,0.70,7.00,True,314.0,237,42447030,42436516,142,20,21,21,1,2010,15,2010,5,4,21,False,21,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 21:10:04,323,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
11,2010003702,2010000400,1,-73.9761,40.7488,-73.9848,40.7694,2010-01-21 21:21:59,2.1,2010-01-21 21:35:16,1,0.00,9.90,True,797.0,142,1241742627,42440934,170,35,21,21,1,2010,21,2010,5,4,21,False,21,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 21:20:41,78,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21
12,2010003702,2010000400,1,-73.8595,40.7263,-73.9759,40.7491,2010-01-21 21:36:22,7.4,2010-01-21 21:51:35,1,9.00,28.50,True,913.0,170,42445661,42445656,196,51,21,21,1,2010,36,2010,5,4,21,False,21,21,3,2,1021,2,20,55,clear,2010,1,2010-01-21 21:35:16,66,False,0,1264073364,1264081895,0,8531,9,656.111111,295.777778,1.861111,12.227778,5,164.19,32.838,True,21

In [6]:
df.select("weather").drop_duplicates().show()

+----------+
|   weather|
+----------+
|       fog|
|    clouds|
|light rain|
|      rain|
|     sunny|
|light snow|
|     clear|
|    cloudy|
|  overcast|
+----------+

In [1]:
import pandas as pd
from IPython.display import display

pd.options.display.max_columns = None

In [2]:
import os
import osmnx as ox
import geopandas as gpd
data_dir = "/Users/kzmain/LSDE/data"
map_path = os.path.join(data_dir, "nyc/map/NYC.mph")
nyc_map = ox.load_graphml(map_path)

In [3]:
nyc_map

In [4]:
nodes, edges = ox.graph_to_gdfs(nyc_map)

In [5]:
nodes

,y,x,osmid,ref,highway,geometry
39076461,40.786409,-73.794627,39076461,33,motorway_junction,POINT (-73.79463 40.78641)
39076490,40.762429,-73.757091,39076490,31W,motorway_junction,POINT (-73.75709 40.76243)
39076504,40.753467,-73.744164,39076504,30W,motorway_junction,POINT (-73.74416 40.75347)
42421728,40.798048,-73.960044,42421728,NaN,traffic_signals,POINT (-73.96004 40.79805)
42421731,40.798645,-73.961474,42421731,NaN,traffic_signals,POINT (-73.96147 40.79865)
...,...,...,...,...,...,...
7976681097,40.711693,-73.951228,7976681097,NaN,NaN,POINT (-73.95123 40.71169)
7977106915,40.645762,-73.956745,7977106915,NaN,NaN,POINT (-73.95675 40.64576)
7979227443,40.586076,-73.934357,7979227443,NaN,NaN,POINT (-73.93436 40.58608)
7979227445,40.585962,-73.933328,7979227445,NaN,NaN,POINT (-73.93333 40.58596)
7986482473,40.608922,-73.914160,7986482473,NaN,NaN,POINT (-73.91416 40.60892)

In [6]:
edges

,osmid,oneway,highway,length,geometry,lanes,ref,name,maxspeed,bridge,access,tunnel,width,junction,service,u,v,key
0,25161578,True,motorway_link,254.709,"LINESTRING (-73.79463 40.78641, -73.79361 40.7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39076461,42854803,0
1,"[122633397, 25161349]",True,motorway,767.800,"LINESTRING (-73.79463 40.78641, -73.79309 40.7...",2,CIP,Cross Island Parkway,50 mph,NaN,NaN,NaN,NaN,NaN,NaN,39076461,274283981,0
2,5699971,True,motorway_link,259.674,"LINESTRING (-73.75709 40.76243, -73.75721 40.7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39076490,277672046,0
3,39084898,True,motorway,291.839,"LINESTRING (-73.75709 40.76243, -73.75741 40.7...",3,CIP,Cross Island Parkway,50 mph,NaN,NaN,NaN,NaN,NaN,NaN,39076490,277672005,0
4,"[618709517, 618709515, 5700693]",True,motorway_link,433.148,"LINESTRING (-73.74416 40.75347, -73.74453 40.7...",1,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,NaN,39076504,462124701,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140823,38311778,True,residential,218.248,"LINESTRING (-73.93436 40.58608, -73.93427 40.5...",NaN,NaN,Coyle Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7979227443,2318552288,0
140824,208824125,True,secondary,81.533,"LINESTRING (-73.93333 40.58596, -73.93239 40.5...",NaN,NaN,Shore Parkway,30 mph,NaN,NaN,NaN,NaN,NaN,NaN,7979227445,42480766,0
140825,38311786,True,residential,199.825,"LINESTRING (-73.93333 40.58596, -73.93309 40.5...",NaN,NaN,Bragg Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7979227445,2318552298,0
140826,556646256,False,residential,9.801,"LINESTRING (-73.91416 40.60892, -73.91415 40.6...",NaN,NaN,Strickland Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7986482473,42518633,0
140827,556646262,True,residential,272.655,"LINESTRING (-73.91416 40.60892, -73.91433 40.6...",NaN,NaN,Strickland Avenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7986482473,5369529458,0